.settings-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    min-height: 88vh;
    height: auto;
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

.settings-main .profile {
    background: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #185a9d, #43cea2);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 30px;
    width: 100vw;
    gap: 20px;
    border-bottom: 2px solid black;
}

.img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-div a {
    background-color: #fff000;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 10px;
}

.img-div a:not(:disabled):hover {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.settings-main .profile img {
    height: 200px;
    width: 200px;
    border: 2px solid rgb(4, 113, 255);
    border-radius: 50%;
    object-fit: cover;
}

.main-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.profile .user-details {
    width: 300px;
}

.profile .user-details .subtitle {
    padding: 7px 0;
    margin-left: 10px;
    font-size: 16px;
}

.profile .user-details .email,
.profile .user-details .phone {
    font-size: 14px;
    margin-left: 20px;
}

.profile .user-details .email #email-link,
.profile .user-details .phone #email-link {
    color: #fff;
}

.profile .user-edit {
    display: flex;
    flex-direction: column;
}

.profile .user-edit li {
    text-align: center;
    margin: 5px 0;
    width: 150px;
    border: 1px solid gray;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: ease 500ms;
}

.profile .user-edit li a {
    color: #fff;
}

.profile .user-edit li:nth-child(1) {
    background-color: blue;
}

.profile .user-edit li:nth-child(1):hover {
    background-color: rgb(0, 0, 129);
}

.profile .user-edit li:nth-child(2) {
    background-color: rgb(100, 30, 167);
}

.profile .user-edit li:nth-child(2):hover {
    background-color: rgb(69, 2, 131);
}

.profile .user-edit li:nth-child(3) {
    background-color: orangered;
}

.profile .user-edit li:nth-child(3):hover {
    background-color: rgb(218, 44, 0);
}

.others {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}

.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%);
}

.button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}

@media (max-width: 710px) {
    .settings-main .profile {
        flex-direction: column;
        border-bottom: none;
        padding-bottom: 10px;
    }

    .main-profile {
        flex-wrap: wrap;
    }

    .profile .user-edit {
        width: 100vw;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .settings-main .profile img {
        height: 150px;
        width: 150px;
    }
}

@media (max-width: 300px) {
    .profile .user-details {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px;
    }
}