.container {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    width: 100vw;
    height: auto;
    min-height: 88vh;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h1 {
    color: #fff;
    padding-bottom: 25px;
    text-align: center;
    margin: 0 7px;
}

.container .main {
    height: auto;
    min-height: 50vh;
    width: 90vw;
    padding: 35px 25px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row-reverse;
    border-radius: 50px 0;
}

.container .main .extra {
    background-color: rgb(252, 252, 252);
    height: 50vh;
    width: 25vw;
    padding: 25px;
    border: 2px solid blueviolet;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container .main .extra label {
    font-size: 16px;
    line-height: 15px;
    display: flex;
    gap: 10px;
}

.container .main .extra i {
    font-size: 20px;
}

.container .main .extra p {
    margin-left: 15px;
}

#email-link {
    margin-left: 15px;
    transition: ease .2s;
}

#email-link:hover {
    text-decoration: underline;
    color: #7d2ae8;
    font-weight: bold;
}

.container .main .content {
    width: 65vw;
    padding: 10px;
}

.content p {
    margin: 10px 25px;
}

.button-89 {
    --b: 3px;
    /* border thickness */
    --s: .45em;
    /* size of the corner */
    --color: #a8eb12;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: #fff;
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 24px;
    font-weight: bold;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 25px 0 50px 0;
}

.button-89:hover,
.button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
    background-color: #00bf72;
}

.button-89:active {
    background: var(--color);
    color: #fff;
}

@media (max-width: 873px) {
    .container .main {
        flex-direction: column;
    }

    .container .main .extra {
        width: 80vw;
        flex-wrap: wrap;
        gap: 25px;
        height: 25vh;
        align-self: center;
    }

    .container .main .extra p {
        margin-left: 7px;
    }

    .container .main .content {
        width: 85vw;
        padding: 0;
    }
}

@media (max-width: 631px) {
    .container .main {
        width: 100vw;
    }

    .container .main .content {
        width: 90vw;
        padding: 0;
    }

    .container .main .extra {
        width: 90vw;
    }
}

@media (max-width: 562px) {
    .container .main .extra {
        flex-direction: row;
        height: auto;
        justify-content: left;
    }

    .container .main .content {
        padding: 0;
    }
}