* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    background: #ffffff;
    overflow: hidden;
}

main {
    height: 88vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}